accelerate==0.25.0
chromadb==0.3.29
ctransformers[cuda]==0.2.27
faiss-cpu==1.7.4
gpt4all==2.0.1
gradio==4.7.1
langchain==0.0.325
llama-cpp-python==0.2.11
sentence-transformers==2.2.2
unstructured==0.10.27
